<a href="https://colab.research.google.com/github/HamsalekhaYerra/Hamsalekha_INFO_5731_Spring2022/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str="Computational Methods"
print(len(str))

21

In [ ]:
from collections import Counter
string='google.com'
res=Counter(string)
print(res)

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(sum(a))

45

In [ ]:
string = 'restart'
print(string)
r = '$'
new_string = string.replace(string[0], r).replace(r, string[0], 1)
print(new_string)

restart
resta$t

In [ ]:
a = int(input('a='))
b = int(input('b='))
S = 3.14*pow((1+a/b),3)
print(S)

a=2
b=3
14.537037037037033

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
a=("p", "y", "t", "h", "o", "n")
print("t" in a)
print("q" in a)

True
False

In [ ]:
set={1, 5, 10, 15, 20, 25, 30, 35, 40}
print(max(set))
print(min(set))

40
1

In [1]:
def duplicate(nums):
    num_set = set()
    no_duplicate = -1
    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(duplicate([1, 2, 3, 4, 3, 5]))
print(duplicate([1, 1, 2, 3, 3, 2, 2]))
print(duplicate([1, 2, 3, 4]))

3
1
-1

In [ ]:
from datetime import date, timedelta
def sundays(year):

       dt = date(year, 1, 1)

       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)

for s in sundays(2030):
   print(s)

2030-01-06
2030-01-13
2030-01-20
2030-01-27
2030-02-03
2030-02-10
2030-02-17
2030-02-24
2030-03-03
2030-03-10
2030-03-17
2030-03-24
2030-03-31
2030-04-07
2030-04-14
2030-04-21
2030-04-28
2030-05-05
2030-05-12
2030-05-19
2030-05-26
2030-06-02
2030-06-09
2030-06-16
2030-06-23
2030-06-30
2030-07-07
2030-07-14
2030-07-21
2030-07-28
2030-08-04
2030-08-11
2030-08-18
2030-08-25
2030-09-01
2030-09-08
2030-09-15
2030-09-22
2030-09-29
2030-10-06
2030-10-13
2030-10-20
2030-10-27
2030-11-03
2030-11-10
2030-11-17
2030-11-24
2030-12-01
2030-12-08
2030-12-15
2030-12-22
2030-12-29